.erroneousFormRow input,
.erroneousFormRow textarea {
  border: 1px solid red;
}
.erroneousFormRow label {
  color: red;
}

.erroneousFormRow,
.normalRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contactUsContainer {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 800px) {
  #multiple-input input,
  #multiple-input select {
    width: 120px;
  }
}

@media screen and (max-width: 800px) {
  .erroneousFormRow,
  .normalRow {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .contactUsContainer {
    width: 75%;
    padding-bottom: 200px;
  }
}
