.loginContainer {
  text-align: center;
}

.input-field {
  margin-left: 20px;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form {
  padding: 20px;
}

button {
  margin: 10px;
}
