.navbar {
  background-color: gray;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.header {
  margin: 0 20px;
  cursor: pointer;
}

svg {
  height: 40px;
  cursor: pointer;
}

.left-part {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 20px;
}

.right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 20px;

  z-index: 1;
}

.link {
  color: white;
  background: transparent;

  padding: 5px 10px;
  margin: 0 5px;

  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
}

.popover-wrapper {
  position: relative;
}

.user-info {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.e-mail-text {
  margin: 10px;
}

.hamburger-content {
  width: 100%;
  height: 100%;

  padding-top: 100px;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;

  background-color: gray;
}

@media screen and (max-width: 800px) {
  .left-part,
  .right-part {
    margin: 20px;
  }

  .link {
    margin-top: 20px;
  }

  .user-info {
    margin: 20px 0 0;
  }
}
